<div class="card card-1">
    <div class="top">
        <img src="images/equipment.jpg" alt="Equipment."/>
    </div>
<<<<<<< HEAD
    {{!-- {{#if loggedIn}} --}}
    <form class="event-signup">
         <button type="submit">Sign Up</button>
    </form>
       
     {{!-- {{/if}} --}}
    <div class="bottom">
        {{!-- <p>{{dataValues.sport.dataValues.name}}</p> --}}
        {{!-- <p>Shanda</p>
        --}}
         <p>{{sport.name}}</p>

=======

    {{!-- {{#if loggedIn}} --}}
        <button class="event-signup">Sign Up</button>
     {{!-- {{/if}} --}}
    <div class="bottom" id="list-of-events">
        <p>{{location.name}}</p>
        <p>{{format_date date}}</p>
>>>>>>> ce7fddf36d6108d2407c75cf5a34eac8a1272278
    </div>
</div>


<script src="javascript/event_signup.js"></script>