<div class="card card-1">
    <div class="top">
        <img src="images/equipment.jpg" alt="Equipment."/>
    </div>

    {{#if loggedIn}}
        <button class="event-signup" id={{id}}>Sign Up</button>
     {{else}}
     <a href="/login">login</a>   
     {{/if}}
    <div class="bottom" id="list-of-events">
        <p>{{location.name}}</p>
        <p>{{format_date date}}</p>
    </div>
</div>


<script src="javascript/event_signup.js"></script>