<div class="card card-1">
    <div class="top">
        <img src="images/Basketball1.jpeg" alt="Dude playing basketball."/>
    </div>
    {{!-- {{#if loggedIn}}
        <button class="event-signup">Sign Up</button>
     {{/if}} --}}
    <div class="bottom" id="list-of-events">
        <p>{{location.name}}</p>
        <p>{{date}}</p>
    </div>
</div>


<script src="javascript/event_signup.js"></script>