<div class="card card-1">
    <div class="top">
        <img src="images/Basketball1.jpeg" alt="Dude playing basketball."/>
        </div>
        <div class="bottom">
        <p>{{dataValues.sport.dataValues.name}}</p>
    </div>
</div>
