<div>
    <a href="/basketball">
        <div class="card card-1">
            <div class="top">
            <img src="images/Basketball1.jpeg" alt="Dude playing basketball."/>
            </div>
            <div class="bottom">
            <p>Local Basketball Event</p>
            </div>
        </div>
    </a>
    <a href="/football">
        <div class="card card-1">
            <div class="top">
            <img src="images/Football1.jpeg" alt="Football image"/>
            </div>
            <div class="bottom">
            <p>Local Football Event</p>
            </div>
        </div>
    </a>
    <a href="/soccer">
        <div class="card card-1">
            <div class="top">
            <img src="images/Soccer5.jpeg" alt="soccer"/>
            </div>
            <div class="bottom">
            <p>Local Soccer Event</p>
            </div>
        </div>
    </a>
    <a href="/softball">
        <div class="card card-1">
            <div class="top">
            <img src="images/Softball2.jpeg" alt="softball"/>
            </div>
            <div class="bottom">
            <p>Local Softball Event</p>
            </div>
        </div>
    </a>
</div>