header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #216583;
}

.headerTitle {
    color: #216583;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #216583;
}

/* Cover */
.quote {
    font-size: 34px;
    font-style: italic;
    color: black;
}
.hero {
    display: flex;
    justify-content: wrap;
    flex-wrap: wrap;
    background-image: url(../images/Basketball-Cover.jpeg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    height: 400px;
    font-size: xx-large;
    }


/* editing homepage appearance/layout */

.sportingEventsText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #216583;
}

.localEventsRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addEventForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7be16;
}

.eventText {
    font-size: 26px;
    color: #216583;
}

.createEventButton {
    border-radius: 15px;
    background-color: lightgray;
    color: #216583;
    padding: 8px;
    font-size: 20px;
    margin: 20px;
}

.createEventButton:hover {
    background-color: #216583;
    color: #f7be16;
}

.hide-text {
    opacity: 0.0;
}

#addEventForm {
    display: flex;
}

#sportscreate {
    background-color: #216583;
    color: #f7be16;
    margin-top: 35px;
    border-radius: 15px;
}

#sportscreate:hover {
    background-color: lightgray;
    color: #216583;
}

#locationcreate:hover {
    background-color: lightgray;
    color: #216583;
}

#locationcreate {
    background-color: #216583;
    color: #f7be16;
    margin-top: 35px;
    border-radius: 15px;
}

.sportslocation {
    padding-left: 20px;
}

.sports1 {
    padding-left: 20px;
}

.card .top img {
    width: 290px;
}


.create {
    border: 2px solid #216583;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
.sportevents-list {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sportevents {
    color:#ffffff;
}


/* Style for the Login In Page */

.login-box {
display: flex;
justify-content: center;
align-items: center;
background-color: #216583;
}

.loginButton {
    background-color: lightgray;
    color: #216583;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

.loginButton:hover {
    background-color: #216583;
    color: #f7be16;
}

.signupButton {
    background-color: lightgray;
    color: #216583;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.signupButton:hover {
    background-color: #216583;
    color: #f7be16;
}



/* Event Types */

.sport-balls {
    width: 100px;
    height: 100px;
}

.custom-ball {
    width: 85px;
    height: 85px;
    margin-top: 14px;
}

/* List of Events */
.card {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 290px;
    /* overflow: hidden; */
  }
  
  .card .top {
    display: inline-flex;
    width: 100%;
    height: 220px;
    /* overflow: hidden; */
    justify-content: center;
  }
  
  .card .top img {
    height: 220px;
  }
  
  .card .bottom {
    height: 80px;
    width: 100%;
  }
  
  .card .bottom p {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-family: Roboto, sans-serif;
  }

  .dropdown_button {
    background-color: #0979ad;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid #ffffff;
}

.sports {
    display: inline !important;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.addEventForm {
    display: inline;
}

select {
    display: inline !important;
}

.sports li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: rgb(47, 47, 47);
    font-family: montserrat;
    border: 1px solid white;
}

.sports li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.sports li:hover {
    background-color: #0979ad;
    color: white;
}

.event-signup {
    background-color: lightgray;
    color: #216583;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 17px;
}

.event-signup:hover {
    background-color: #216583;
    color: #f7be16;
}

.bulletinBoardImages {
    display: flex;
    justify-content: space-evenly;
}

.login-box {
    background-color: #f7be16;
    color: #216583;
}

.sportingEventInfo {
    display: flex;
    justify-content: space-around;
    background-color: #f7be16;
}

.infoText {
    font-size: 25px;
    color: #216583;
}

/* Media Queries Info */

@media screen and (max-width: 768px) {
    .headerTitle {
        color: #216583;
        font-size: 50px; 
    }

    .hero {
    display: flex;
    justify-content: wrap;
    flex-wrap: wrap; 
    background-image: url(../images/Basketball-Cover.jpeg);
    height: 200px;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed; 
    background-position: 80%; 
    background-color: #216583;
    color: black;
    font-size: 28px;
    }

    .quote {
        font-size: 22px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #216583;
    }

    .homeText, .loginText, .logoutText {
        font-size: 16px;
        color: #f7be16;
    }

    .sportImage {
        height: 150px;
        width: 125px;
    }

    .localEventsRow {
        display: flex;
        flex-wrap: wrap;
    }

    .bulletinBoardImages {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 414px) {
    .sport-balls {
        visibility: hidden;
    }

    .create {
        background-color: #f7be16;
    }

    h2 {
        font-size: 30px;
    }

    .bulletinBoardImages {
        display: flex;
        flex-wrap: wrap;
    } 

}
