header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #216583;
}

.headerTitle {
    color: #216583;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #216583;
}

/* Cover */
.quote {
    font-size: 34px;
    font-style: italic;
}
.hero {
    display: flex;
    justify-content: wrap;
    flex-wrap: wrap;
    background-image: url(../images/Basketball-Cover.jpeg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    color: red;
    height: 400px;
    font-size: xx-large;
    }


.hide-text {
    opacity: 0.0;
}

/* editing homepage appearance/layout */

.sportingEventsText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #216583;
}

.localEventsRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addEventForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7be16;
}

.eventText {
    font-size: 26px;
    color: #216583;
}

.createEventButton {
    border-radius: 15px;
    background-color: lightgray;
    color: #216583;
    padding: 8px;
    font-size: 20px;
}

.createEventButton:hover {
    background-color: #216583;
    color: #f7be16;
}

.hide-text {
    opacity: 0.0;
}

/* contact us styles start */

.contact h2 {
    color: #039be5;
    display: flex;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info h3 {
    color: #039be5;
    font-size: 30px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #039be5;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: red;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: #039be5;
}

.create {
    border: 2px solid #216583;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
.sportevents-list {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
.list-item {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
.dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sportevents {
    color:#ffffff;
}

.dropover {
    background: rgba(0,0,0,0.3);
}

.dropover-active {
    background: #0f7aa5e6;
}

.swanson {
    text-transform: uppercase;
    text-decoration: wavy;
    font-weight: 900;
    font-size: xx-large;
    color:#039be5;
}


.col_pic {
    width: 100%;
    padding-left: 30px;
}

.col_details {
  color:red;
  font-style: italic;
  font-size: medium;

}

.col_ingredients { 
  color:red; 
  font-style: italic;
}

.picture-container {
    width:100%;
}

@media screen and (min-width: 1300px){
}

.row {
  color: red;
}

/* Event Types */

.sport-balls {
    width: 100px;
    height: 100px;
}

.custom-ball {
    width: 85px;
    height: 85px;
    margin-top: 14px;
}

/* List of Events */
.card {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 290px;
    overflow: hidden;
  }
  
  .card .top {
    display: inline-flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
    justify-content: center;
  }
  
  .card .top img {
    height: 220px;
  }
  
  .card .bottom {
    height: 80px;
    width: 100%;
  }
  
  .card .bottom p {
    text-align: left;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-family: Roboto, sans-serif;
  }

  .dropdown_button {
    background-color: #0979ad;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid #ffffff;
}

.sports {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sports li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: rgb(47, 47, 47);
    font-family: montserrat;
    border: 1px solid white;
}

.sports li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.sports li:hover {
    background-color: #0979ad;
    color: white;
}